.pagina {
    display: flex;
    flex-direction: column; /* Organiza os cards em coluna */
    align-items: center;
    height: 100%;
    background-color: transparent; /* Fundo da página */
    gap: 20px; /* Espaçamento entre os cards */
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 58, 102, 0.671); /* Azul escuro para o card */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 85%; /* Largura do card aumentada */
    transition: transform 0.2s; /* Efeito de hover */
}

.container:hover {
    transform: scale(1.05); /* Aumenta um pouco o card ao passar o mouse */
}

.tituloCard {
    color: #ffffff; /* Cor do texto do título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    text-align: center; /* Centraliza o título */
}

.campos {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputTexto {
    margin-bottom: 15px; /* Espaço entre os campos */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda dos inputs */
    border-radius: 5px; /* Bordas arredondadas */
    width: 100%;
    min-width: 230px;
}

.botaoCadastrar {
    width: 300px;
    padding: 10px;
    background-color: #293f69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoCadastrar:hover {
    background-color: #4a5f9b;
}

.botaoDeCadastrar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.selectTipoDocumento {
    margin-top: 10px;
    margin-bottom: 15px; /* Espaço entre o select e o input */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda do select */
    border-radius: 5px; /* Bordas arredondadas */
}

.inputsCadastros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.conjuntosCadastros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

#razao{
    width: 320px !important;
}
#nomeFantasia{
    width: 320px !important;
}

#email{
    width: 300px !important;
}

.titulo-cliente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

.separator {
    border: 0;
    height: 1px;
    background-color: #ccc; /* Cor da linha */
    margin: 15px 0; /* Espaçamento vertical */
}

/* Estilo para o botão de adicionar endereço */
.botaoAddEndereco {
    display: flex;
    align-items: center; 
    justify-content: center;  
    background-color: #6ea0c7;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    text-align: center; 
    gap: 10px;
}

.botaoAddEndereco:hover {
    background-color: #578ab1;
}

/* Estilo para o botão de excluir endereço */
.botaoExcluirEndereco {
    background-color: #6ea0c7;
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

.botaoExcluirEndereco:hover {
    background-color: #578ab1;
}