.pasta-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: inline;
  }
  
  .arquivo-div {
    width: 260px;
    height: 210px;
    background-color: #293f69;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 50px;
  }   
  
  .arquivo-div:hover {
      transform: scale(1.05);
  }
  
  .image {
    max-width: 55%;
    max-height: 55%;
    margin-bottom: 5px;
  }
  
  .image-atestado {
      max-width: 56%;
      max-height: 56%;
      margin-bottom: 5px;
  }
  
  .nome-pasta {
      color: white;
  }
  
  .titulo {
      color: black;
      padding-bottom: 15px;
      text-align: center;
  }
  
  .titulo-seg {
      text-align: center;
      padding: 5px;
  }
  
  .titulo-clientes{
    width: max-content;
    color: black;
    margin: 20px 0;
    font-size: 2rem;
    white-space: nowrap;
  }
    @media (max-width: 768px) {
      .titulo-clientes {
        font-size: 1.8rem;
    }
  }
  .lista-clientes {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .tabela-de-clientes{
    background-color: rgb(247, 247, 247);
  }
  
  .input-pesquisa {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  @media (max-width: 768px) {
    .input-pesquisa {
        max-width: 90%; 
        font-size: 0.9rem; 
    }
  }
  
  .tabela-clientes {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .cabecalho-tabela {
    background-color: #f4f6f9;
  }
  
  .cabecalho-tabela th, .corpo-tabela td {
    padding: 10px;
    text-align: left;
  }

  @media screen and (max-width: 768px) {
    .tabela-de-clientes {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .tabela-clientes {
        display: block;
    }

    .linha-tabela {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 2px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
    }

    .linha-tabela td {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 8px 0;
    }

    .linha-tabela td:before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 100px;
        flex: 1;
    }

    .cabecalho-tabela {
        display: none; /* Esconde o cabeçalho da tabela em telas pequenas */
    }
}
  
  .corpo-tabela tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .corpo-tabela tr:hover {
    background-color: #e3f2fd; /* Azul claro ao passar o mouse */
  }
  
  .linha-tabela {
    position: relative;
  }
  
  .coluna-nome, .coluna-email, .coluna-papel, .coluna-acoes-clientes {
    color: #333;
  }
  
  .menu-container {
    position: relative;
    display: inline-block;
  }
  
  .botao-menu-clientes {
    width: 100%;
    padding: 10px;
    background-color: #f1f1f1;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botao-menu-clientes:hover{
    background-color: #e7e7e7;
  } 

  .coluna-acoes-clientes {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
  }
  
  .opcao-menu:hover {
    background-color: #bfd0ff;
  }
  .upload-button {
    display: inline-block; 
    padding: 10px 25px; 
    background-color: #293f69;
    color: white; 
    border: none; 
    border-radius: 3px; 
    cursor: pointer;
    margin-top: 5px; 
  }
  
  .small-button {
    width: 220px; 
    text-align: center;
  }
  
  .upload-button:hover {
    background-color: #4a5f9b; /* Tom mais escuro ao passar o mouse */
  }
  
  .div-img {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }