/* CSS Geral */
body {
    background-color: #1a1a2e; /* Fundo escuro */
    color: #ffffff; /* Texto branco */
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Alinhar verticalmente */
}

/* Estilo do Card */
.card {
    background-color: rgba(0, 58, 102, 0.671); /* Azul escuro */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 500px;
    text-align: center;
    height: fit-content;
}

/* Estilo dos Títulos */
.welcome-title {
    font-size: 2.5rem; /* Tamanho grande para o título */
    color: #000000; /* Texto preto */
    margin-bottom: 10px; /* Espaço abaixo do título */
    text-align: center;
}

.subtitle {
    font-size: 1.2rem; /* Tamanho médio para o subtítulo */
    color: #ffffff; /* Texto branco */
    margin-bottom: 20px; /* Espaço abaixo do subtítulo */
    text-align: center;
}

/* Estilo da Ilustração (opcional) */
.illustration {
    width: 150px; /* Tamanho da imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
}

/* Estilo dos Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

/* Estilo do Botão de Recuperação */
.recovery-link {
    background: none;
    border: none;
    color: #293f69; /* Azul claro */
    cursor: pointer;
    text-decoration: underline;
}
.recovery-link:hover {
    color: #3a55a0;
}
/* Estilo do Botão de Login */
.login-button {
    background-color: #293f69; /* Azul claro */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
.login-button:hover{
    background-color: #3a55a0;
}
/* Estilo da Visibilidade da Senha */
.password-container02 {
    position: relative;
    width: 100%;
    margin-left: 0px;
}

.password-toggle {
    width: 90px;
    position: absolute;
    right: 0px; /* Para manter o botão ao lado do input */
    top: 10px;
    background: none;
    border: none;
    color: #293f69; /* Azul claro */
    cursor: pointer;
    background-color: transparent;
    padding-top: 10px;
}

.password-toggle:hover {
    background-color: transparent; /* Mantém o fundo transparente no hover */
    color: #3a55a0; /* Mantém a cor azul clara no hover */
}

/* Estilo do Input de Recuperação com borda preta */
.recovery-input {
    border: 2px solid #000; /* Borda preta */
    border-radius: 5px;
}

/* Estilo do Modal */
.ReactModal__Overlay {
    background: transparent; /* Remove o fundo acinzentado */
}

/* Estilo dos Botões do Modal */
.modal-buttons {
    display: flex;
    justify-content: space-between; /* Espaço entre os botões */
    margin-top: 15px; /* Espaço acima dos botões */
}

.submit-button,
.close-button {
    background-color: #293f69; /* Azul claro */
    color: #ffffff; /* Texto em branco */
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 48%; /* Para garantir que ambos caibam na linha */
}

.close-button {
    background-color: transparent; /* Fundo transparente para o botão fechar */
    color: #293f69; /* Azul claro */
    border: 1px solid #293f69; /* Borda azul clara */
}

/* Estilo do Card com fundo branco */
.card-welcome {
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada suave */
    padding: 20px;
    width: 400px; /* Largura do card */
    text-align: justify;
    margin: 20px auto; /* Centraliza o card horizontalmente e adiciona espaço vertical */
    box-shadow: none; /* Remove sombra */
    position: absolute; /* Posiciona o card em relação à tela */
    top: 20px; /* Distância do topo da tela */
    left: 53%; /* Posiciona horizontalmente no meio */
    transform: translateX(-50%); /* Centraliza horizontalmente */
}

/* Títulos do card */
.welcome-title {
    font-size: 36px; /* Aumenta o tamanho do título */
    margin: 0; /* Remove margem */
}

.subtitle {
    font-size: 20px; /* Tamanho do subtítulo */
    color: #000000; /* Texto preto */
    margin: 20px 0 0; /* Margem superior para espaçar do título */
}

